.jumbotron {
  height: 500px;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.cart-button {
  cursor: pointer;
}
